<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <style>
        * {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .chessboard {
            display: grid;
            grid-template-columns: repeat(8, minmax(0, 1fr));
            grid-template-rows: repeat(8, minmax(0, 1fr));
            width: 400px;
            height: 400px;
            transform: rotate(0deg);
        }

        .piece.white {
            color: white;
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
        }

        .piece.black {
            color: black;
        }

        .flipped {
            transform: rotate(180deg);
        }

        .square {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .square.light {
            background-color: #f0d9b5;
        }

        .square.dark {
            background-color: #b58863;
        }

        .piece {
            font-size: 36px;
            cursor: pointer;
        }

        .piece.draggable {
            cursor: grab;
        }

        .dragging {
            opacity: 0.5;
        }

        /* Rotate pieces for black player */
        .flipped .piece {
            transform: rotate(180deg);
        }

        /* Player Name Styles */
        .player-info {
            font-size: 24px;
            font-weight: bold;
            color: white;
        }

        .player1-info {
            position: absolute;
            top: 150px;
            left: 20px;
            color: white;
            margin-bottom: 2px;
        }

        .player2-info {
            position: absolute;
            top: 150px;
            right: 20px;
            color: white;
            margin-bottom: 2px;
        }

        @media (max-width: 640px) {
            .chessboard {
                width: 80%;
                height: 80%;
                max-width: 300px;
                max-height: 300px;
            }

            .piece {
                font-size: 1.5rem;
            }

            .player-info {
                font-size: 1rem;
            }
            
        }

    </style>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900  items-center justify-center relative">
        <div class="Navbar w-full h-20 bg-green-500 text-black flex justify-center items-center px-15">
            <span class="text-3xl font-bold font-serif flex">Welcome to Chess.in</span>
        </div>

        <div class="player1-info bg-blue-500 p-2 rounded-xl">
            <p>Player 1 Name : 
            </p>
            <span id="player1NameDisplay">Player 1</span>
        </div>
        <div class="player2-info bg-blue-500 p-2 rounded-xl">
            <p>Player 2 Name : 
            </p>
            <span id="player2NameDisplay"></span>
        </div>

        <div class="Container flex my-24 items-center justify-center">
            <div class="chessboard w-96 h-96 bg-red-600" id="chessboard">
            
            </div>    
        </div>
    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/chessgame.js"></script>
</body>
</html>
